<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="CallCheck Action Set"
            visible="true"
            id="JDTeXtend.actionSet">

         <menu
               label="CallCheck"
               id="CallCheck">
            <separator
                  name="checkGroup">
            </separator>
         </menu>
         <!-- Menu -->
         <action
               label="&amp;Check Call Hierrarchy"
               class="com.github.ajaxsys.jdtx.actions.FindMethodCallersSingleThreadNoRecursiveFromTextInput"
               menubarPath="CallCheck/checkGroup"
               id="com.github.ajaxsys.jdtx.actions.FindMethodCallersSingleThreadNoRecursiveFromTextInput">
         </action>

      </actionSet>
   </extension>

</plugin>
